:root {
    --gainsboro: #D8DBE2;
    --lightsteelblue: #A9BCD0;
    --cadetblue: #58A4B0;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;

    font: 500 100% system-ui, sans-serif;
    text-transform: uppercase;
}
.page-wrap {
    background-color: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);

    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 1px;
}
.page-wrap > * {
    padding: 1rem;
    text-align: center;
}
.page-header {
    background-color: var(--cadetblue);
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.33);
}
.page-nav {
    background-color: var(--lightsteelblue);
    display: flex;
    justify-content: center;
}
.menu-container
{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.menu-container button
{
    font-size: 1.125rem;
    width: 10rem;
}
.drop-down-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    gap: 0.5rem;
    width: 10rem;
    position: absolute;
    background-color: white;
}
.page-main {
    background-color: var(--gainsboro);
    display: grid;
    place-items: center;
}
.slider-container {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.slide {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: absolute;
    transition: all 0.5s;
}
.slide img
{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}
.btn-next, .btn-prev
{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}
.navdot 
{
    cursor: pointer;
}
.btn-prev{
    top: 45%;
    left: 2%;
}
.btn-next{
    top: 45%;
    right: 2%;
}
.btn-next:active, .btn-prev:active, .navdot:active
{
    transform: scale(1.1);
}
.page-footer {
    background-color: var(--cadetblue);
    font-size: 0.8rem;
}